<h2>Update Product</h2>

<form (ngSubmit)="updateProduct()">
  <label>Product ID: <input [(ngModel)]="product.id" name="id"></label><br>
  <label>Product Name: <input [(ngModel)]="product.name" name="name"></label><br>
  <label>Description: <input [(ngModel)]="product.description" name="description"></label><br>
  <label>Price: <input [(ngModel)]="product.price" name="price" type="number"></label><br>
  <label>Units: <input [(ngModel)]="product.units" name="units" type="number"></label><br>
  <button type="submit">Update Product</button>
</form>
